<nav class="navbar navbar-expand-lg navbar-light bg-light text-center mb-5">

  <%# ロゴ部分 %>
  <div class="nav-item col-md">
    <a class="navbar-brand logo" href="/"><i class="fa fa-camera-retro"></i>Telegram</a>
  </div>

  <%# メニュー格納時のボタン %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# メニュー %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="nav-item form-inline mb2 mb-lg-0" >
      <input type="text" name="q" id="q" value="" class="form-control mr-sm-3" placeholder="検索">
    </form>
    <a class="nav-item col-6" href="/"><i class="far fa-user"></i></a>
  </div>
  
</nav>